# ========= APPLICATION ===========
NODE_ENV="development"
# NODE_ENV="production"
# APP_LOCAL="docker"
APP_LOCAL="local_machine"
CORS_WHITELIST="*"
PORT=3000
DOCUMENTATION_APP_PORT=4000

# =========== DATABASE =========
MONGO_DATABASE="pixel"
MONGO_USER_COLLECTION="users"
MONGO_COURSES_COLLECTION="courses"
MONGO_PORT="27017"

# =========== TOKEN =========
SALT=10
REFRESH_TOKEN_TTL_DAYS="180"
ACCESS_TOKEN_TTL_MINUTES="5000"
ACCESS_TOKEN_JWT_SECRET="87HDNWEPOF2HBKJLJHBT6tB6iuon82uhnuyn7Y8Iom88!"
REFRESH_TOKEN_JWT_SECRET="NCBNbx66b3!!%%MMjbs8askdhSj4i$R8s6hnsjKDAsjsjbuYv"